*{
    margin: 0;
    padding: 0;
    text-align: center;
     
    
     
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
} 
.choice{
    height: 160px;
    width: 160px;
    
}
img:hover{
    box-shadow: 1px 1px 20px #14EACFFF;
    animation: anime 1s linear infinite;   
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
             
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    
}
div:nth-child(1){
    animation-delay: 0.2s;
}
@keyframes anime{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    }
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
margin-top: 5rem;
}
#msg{
    margin-top: 5rem;
    background-color: #081b31;
    color: white;
    height: 5rem;
    font-size: 2rem;
    display: inline;
    border-radius:0.5rem ;
}


.darkmode{
    background-color: black;
    color: white;
}
#mode{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 83px;
    right: 20px;
    border-style: none;
   
}
#mode svg{
    fill:var(--primary-color);
}
#mode svg:last-child{
    display: none;
}
.darkmode #mode svg:first-child{
    display: none;
}
.darkmode #mode svg:last-child{
    display: block;
}
